domain                 = "rosta.dev"
email                  = "alex@rosta.dev"
issuer_name            = "letsencrypt-prod"
cloudflare_email       = "example@example.com"
cloudflare_api_key     = "xxxx"
cloudflare_zone_id     = "xxxx"
blizz_clientid         = "xxxx"
blizz_clientsecret     = "xxxx"
warcraftlogs_api_token = "xxxx"
redis_addr             = "redis:6379"
redis_db               = "0"
redis_password         = "xxxx"